node-red/flows.json
[{"id":"81766099.ee506","type":"tab","label":"Test turn on light","disabled":false,"info":"Uses notify input boolean to turn reading light on or off depending on time\nand if light is already on or off"},{"id":"ebf371fa.6e0e","type":"server","z":"","name":"Home Assistant"},{"id":"218bdbde.64fe44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"74e472a1.f7e634","type":"server-state-changed","z":"81766099.ee506","name":"Notify Home Boolean","server":"ebf371fa.6e0e","version":1,"entityidfilter":"input_boolean.notify_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":160,"wires":[["b86c8390.42265"]]},{"id":"b86c8390.42265","type":"switch","z":"81766099.ee506","name":"On-Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":160,"wires":[["40bb491d.c9f48"],["c2892dba.f8f308"]]},{"id":"18e9e06f.8cef4","type":"api-call-service","z":"81766099.ee506","name":"Turn Light On","server":"ebf371fa.6e0e","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.sengled_reading\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":120,"wires":[["b86836dc.ef48d"]]},{"id":"c1171809.fbd9","type":"api-call-service","z":"81766099.ee506","name":"Turn Light Off","server":"ebf371fa.6e0e","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.sengled_reading\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":220,"wires":[["27488dd4.af3dd2"]]},{"id":"40bb491d.c9f48","type":"time-range-switch","z":"81766099.ee506","name":"Start Time","lat":"","lon":"","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":470,"y":140,"wires":[["188edc6a.2c4c24"],[]]},{"id":"c2892dba.f8f308","type":"api-current-state","z":"81766099.ee506","name":"Is Reading Light on?","server":"ebf371fa.6e0e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sengled_reading","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":220,"wires":[["c1171809.fbd9"],[]]},{"id":"188edc6a.2c4c24","type":"api-current-state","z":"81766099.ee506","name":"Is Reading Light Off","server":"ebf371fa.6e0e","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sengled_reading","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":120,"wires":[["18e9e06f.8cef4"],[]]},{"id":"b86836dc.ef48d","type":"debug","z":"81766099.ee506","name":"Debug On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":120,"wires":[]},{"id":"27488dd4.af3dd2","type":"debug","z":"81766099.ee506","name":"Debug off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":220,"wires":[]}]